<footer>
    <ul class="contact-list">
        <li><a href="mailto:{{ site.contact.email.primary }}" class="u-email">{{ site.contact.email.primary }}</a></li>
        <li class="copyright">&copy; {{ site.copyright }}</li>
    </ul>
</footer>
