<aside>
    <ul class="nav contents">
        <li class="brand">{{ site.title }}</li>
        {% for item in site.navbar %}
        <li class="nav-item">
            <a href="{{ item.url }}" class="nav-link {% if activeNav == item.title %}active{% endif %}">{{ item.title }}</a>
        </li>
        {% endfor %}
    </ul>
</aside>