<nav>
    <h1 class="brand">{{ site.title }}</h1>
    <ul class="contents">
        {% for item in site.navbar %}
        <li class="nav-item">
            <a href="{{ item.url }}" class="nav-link {% if activeNav == item.title %}active{% endif %}">{{ item.title }}</a>
        </li>
        {% endfor %}
    </ul>
    <span id="burger">
        <span></span>
        <span></span>
        <span></span>
    </span>
</nav>