@use "sass:map";
@use "sass:color";
@use "variables" as v;

.bgn-block,
blockquote {
    & {
        --border-thickness: .65ex;
        --border-offset: 2ex;
        --border-color: var(--blue);
        --background-color: var(--border-color);

        border-left: var(--border-thickness) solid var(--border-color) !important;
        padding: 0 0 0 calc(var(--border-offset) - var(--border-thickness));
        margin: 1ex 0 1ex calc(-1.0 * var(--border-offset));

        & h4 {
            color: var(--border-color);
            font-size: 1.2rem;
            padding: 0;
            margin: 0;
            font-family: v.$serif;
        }

        & div {
            margin: 0;
            padding: 0;

            & p:first-child {
                margin-top: 0;
                padding-top: 0;
            }

            & p:last-child {
                margin-bottom: 0;
                padding-bottom: 0;
            }
        }
    }

    &:after {
        content: '';
        position: absolute;

        pointer-events: none;

        left: calc(-2.0 * var(--border-offset));
        top: 0;

        font-family: v.$monospace;
        text-transform: uppercase;
        font-weight: bold;

        color: var(--border-color);
    }
}

.bgn-block {
    & {
        position: relative;
        padding-top: 1ex;
        padding-bottom: 1ex;
        padding-right: 1ex;
    }

    &>div {
        overflow-x: scroll;
        overflow-y: hidden;
    }

    &>h4 {
        & {
            margin-bottom: 1ex;
        }

        &>p {
            margin: 0;
            padding: 0;
            display: inline;
        }
    }

    &:after {
        writing-mode: vertical-rl;
        text-wrap: nowrap;
    }

    &:before {
        content: '';
        position: absolute;

        pointer-events: none;

        left: 0;
        top: 0;

        width: 100%;
        height: 100%;

        background: var(--background-color);
        opacity: 0.05;
    }

    &.remark {
        & {
            counter-increment: remark 1;
            --border-color: var(--border-color);
        }

        &:before {
            content: "Remark " counter(remark);
        }

        &.short:before {
            content: "* " counter(remark);
        }
    }

    &.example {
        & {
            counter-increment: example 1;
            --border-color: var(--red);
            --background-color: #{color.scale(map.get(v.$colors, "red"), $saturation: -50%)}
        }

        &:after {
            content: "Example " counter(example);
        }

        &.short:after {
            content: "Ex " counter(example);
        }
    }

    &.definition {
        & {
            counter-increment: definition 1;
            --border-color: var(--green);
        }

        &:after {
            content: "Definition " counter(definition);
        }

        &.short:after {
            content: "Def. " counter(definition);
        }
    }

    &.algorithm {
        & {
            counter-increment: algorithm 1;
            --border-color: var(--indigo);

            font-family: var(--font-monospace)
        }

        & strong {
            color: var(--red)
        }

        & ul {
            list-style-type: none;
        }

        & ul li em {
            white-space: preserve;
        }

        & code {
            font-size: 1rem;
        }

        &>div>ul,
        & ul li p {
            margin: 0;
            padding: 0;

            text-wrap: nowrap;
        }

        &:after {
            content: "Algorithm " counter(algorithm);
        }

        &.short:after {
            content: "Alg. " counter(algorithm);
        }
    }

    &.lemma {
        & {
            --border-color: var(--cyan);
        }

        &>h4:before {
            content: "Lemma ";
        }
    }

    &.theorem {
        & {
            --border-color: var(--pink);
        }

        &>h4:before {
            content: "Theorem ";
        }

        &.short>h4:before {
            content: "Thm. ";
        }
    }

    &.proof {
        & {
            --border-color: var(--yellow);
        }

        &>h4:before {
            content: "Proof ";
        }

        &.short>h4:before {
            content: "Pf. ";
        }
    }

    &.lemma,
    &.theorem,
    &.proof {
        &:after {
            display: none;
        }

        &>h4:before {
            display: inline;
            font-weight: bold;
        }
    }

    @each $name, $color in v.$colors {
        &.#{$name} {
            --border-color: var(--#{$name});
        }
    }
}

.bgn-block.lemma,
.bgn-block.theorem {
    &+.bgn-block.proof:not(.space) {
        margin-top: -2ex;
    }
}


blockquote {
    font-style: italic;

    &:after {
        content: ">";

        left: calc(-1.0 * var(--border-offset));
        font-style: normal;
    }
}