@use "variables" as v;

code {
    font-family: v.$monospace;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

code:not(:has(span.line)) {
    background: var(--black-50);
    padding: 2px 4px;
    border-radius: 3px;
    border: 1px solid var(--black-120);
}

pre {
    & {
        display: block;
        overflow: auto;
        margin-top: 0;
        margin-bottom: 1em;
        font-size: 1rem;
    }

    &.shiki {
        & {
            padding: 1ex 0;

            background: rgba(38, 35, 53, 50%) !important;

            border: 1px solid var(--border-color);
            border-radius: 6px;

            line-height: 1em;
        }

        code {
            & {
                counter-reset: line;
                counter-increment: line 0;
            }

            span.line {
                & {
                    position: relative;
                    width: 100%;
                    display: inline-block;
                }

                &:before {
                    content: " ";
                    margin-right: 1ex;
                }

                // @include media-breakpoint-up(md) {
                &:before {
                    content: counter(line);
                    counter-increment: line;
                    border-right: 1px solid var(--border-color);

                    opacity: .5;

                    width: 3.25em;
                    margin-right: 2ex;
                    padding: 0.075em 2ex 0.075em 0;

                    display: inline-block;
                    text-align: right;
                }

                // }

                &:after {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    pointer-events: none;
                    opacity: .05;
                }

                &:hover:after {
                    background-color: white;
                }
            }
        }
    }
}