@use "variables" as v;
@use "breakpoints";

@include v.headings {
    &:has(a.header-anchor) {
        position: relative;
        margin-left: 2rem;
    }

    & a.header-anchor {
        position: absolute;
        left: -1.5rem;
        top: -.125ex;
        text-underline-offset: .5ex;
    }

    @include breakpoints.at_least_md {

        &:has(a.header-anchor) {
            margin-left: 0rem;
        }

    }
}

@for $i from 1 through 6 {
    h#{$i}:has(a.header-anchor) {
        counter-increment: h#{$i} 1;
    }
}

@include breakpoints.at_least_md {

    aside:has(ul.contents),
    aside.sticky {
        position: sticky;
        top: 1rem;
        display: block;
        height: calc(100vh - 1rem);
        overflow-y: auto;
        overflow-x: hidden;
    }

}

@include breakpoints.less_than_md {

    aside {
        &:has(ul#toc.contents) {
            display: none;
        }
    }

}

h2:has(a.header-anchor):before {
    content: counter(h2) ".";
}

h3:has(a.header-anchor):before {
    content: counter(h2) "." counter(h3) ".";
}

h4:has(a.header-anchor):before {
    content: counter(h2) "." counter(h3) "." counter(h4) ".";
}

ul.contents {
    & li {
        & {
            margin: 0 .5ex;
            padding: .5ex 0;
        }

        a {
            margin: 0;
            border-radius: 4px;
        }
    }

    & details ul {
        margin-top: 1ex;
    }

    & ul {
        & {
            padding: 0;
        }

        &>li {
            border-left: 2px solid var(--border-color);
            padding-left: calc(2ex - 2px);
            margin-left: calc(-2ex - 2px);

            &:hover {
                border-left: 2px solid white;
                transition: all 0.125s linear;
            }
        }
    }

    & a.nav-link {
        padding: 2px 4px;

        &,
        & p {
            margin: 0 !important;
            padding: 0;
        }
    }

    &,
    & * {
        list-style-type: none;
    }

    details {
        & summary {
            position: relative;
        }

        & summary::-webkit-details-marker {
            display: none;
        }

        &>summary:before {
            font-family: var(--monospace);
            position: absolute;
            left: -1.75em;
            top: .1ex;
            content: "[-]";
            color: var(--black-170)
        }

        &[open]>summary:before {
            content: "[+]";
        }

    }
}

ul.body-contents li {
    & p {
        display: inline;
        margin: 0 !important;
        padding: 0;
    }

    & a.disabled {
        text-decoration: none;
        color: var(--black-140);
    }
}

.breadcrumbs {
    & {
        display: flex;
        flex-wrap: wrap;
    }

    & span.crumb {
        & p {
            display: inline;
            margin: 0;
            padding: 0;
        }

        &:not(:first-child):before {
            content: '/';

            margin-left: .5ex;

            color: var(--foreground);
            text-decoration: none;
        }
    }
}